@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap");

body {
  background-color: #555;
  color: #eee;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  text-shadow: 1px 1px 2px #000;
}
main {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 95%;
  background-color: #555;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
}

input[type="radio"] {
  display: none;
}

.content {
  background: linear-gradient(#8b7162, #3d3323);
  display: flex;
  border-radius: 10px;
  height: 350px;
}

.card.no {
  padding: 3px;
  background: linear-gradient(#391414, #de3737);
  border-radius: 10px;
}

.card.yes {
  padding: 3px;
  background: linear-gradient(#14391c, #37de4b);
  border-radius: 10px;
}
.card {
  padding: 3px;
  background: linear-gradient(#3e3e3e, #e0e0e0);
  border-radius: 10px;
}

.content img {
  width: 200px;
  height: auto;
  border-radius: 10px 0 0 10px;
}
.content .desc {
  margin: 10px 5px;
  width: 0;
}
.desc * {
  display: none;
}
.content .desc h2 {
  margin: 0;
  font-size: 24px;
  font-family: cursive;
}
.content .desc h3 {
  margin: 0;
  color: #ccc;
  font-style: italic;

  font-weight: 100;
  font-size: small;
}
.title {
  height: 50%;
}
.user-data {
  height: 30%;
  border: 1px solid #529017;
  border-left: 0;
  border-right: 0;
  padding: 5px 0;
}

.user-data div {
  height: 100%;
  display: flex;
  padding: 0 10px;
  background-color: #aeaeae;
  border-radius: 60px;
  justify-content: space-between;
  align-items: center;
}

.user-data div label.no {
  color: black;
  text-shadow: 1px 1px 2px #00000090;
}
.user-data div label {
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
}
.user-data div label.yes {
  color: #00da2f;
  text-shadow: 1px 1px 2px #000000ab;
}

.footer-desc {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.footer-desc span:nth-child(1) {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.footer-desc span:nth-child(2) {
  font-family: math;
}
.footer-desc span:nth-child(3) {
  font-family: "Playwrite DE SAS", cursive;
  font-weight: 400;
}

.card:hover .desc {
  width: 350px;
}
.card:hover .desc * {
  display: inline-block;
  font-size: 14px;
}

label {
  margin-top: 35px;
}


.card:has(#watched1:checked) {
  background: linear-gradient(#14391c, #37de4b);
}

.card:has(#abandoned1:checked) {
  background: linear-gradient(#391414, #de3737);
}

.card:has(#unrated1:checked) {
  background: linear-gradient(#3e3e3e, #e0e0e0);
}


.card:has(#watched2:checked) {
  background: linear-gradient(#14391c, #37de4b);
}

.card:has(#abandoned2:checked) {
  background: linear-gradient(#391414, #de3737);
}

.card:has(#unrated2:checked) {
  background: linear-gradient(#3e3e3e, #e0e0e0);
}


.card:has(#watched3:checked) {
  background: linear-gradient(#14391c, #37de4b);
}

.card:has(#abandoned3:checked) {
  background: linear-gradient(#391414, #de3737);
}

.card:has(#unrated3:checked) {
  background: linear-gradient(#3e3e3e, #e0e0e0);
}

.card:has(#watched4:checked) {
  background: linear-gradient(#14391c, #37de4b);
}

.card:has(#abandoned4:checked) {
  background: linear-gradient(#391414, #de3737);
}

.card:has(#unrated4:checked) {
  background: linear-gradient(#3e3e3e, #e0e0e0);
}



